*{
    margin: 0px;
 } 
 
 .main_main{
     
         width: 100%;
         margin-top: 70px;
 }
 .box{
  width: 25%;
  float: left;
  padding: 15px;  
  display: block;
  }
 
 img{
  width: 100%;
 border-radius: 4px;
 
 }
 
 img:hover{
   transform: scale(1.4,1.4);
   transition: .4s transform;
  
 }